html {
  box-sizing: border-box;
  font-family: 'Nanum Gothic', sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/*
font-family: 'PT Sans', sans-serif;
font-family: 'PT Serif', serif;
*/

img {
  border-radius: 4px;
  width: 100%;
  margin-top: .3em;
}

strong {
  font-weight: normal;
}

figure {
  margin: 0%;
  float: none;
}

figcaption {
  font-family: 'PT Serif', serif;
  font-size: 1em;
  font-style: italic;
  text-align: center;
}

nav ol {
  list-style-type: none;
  font-family: 'PT Sans', sans-serif;
  margin: 1.5em;
  padding: 1em;
  text-decoration-color: #8f2440;
}

header {
  background-color: #c9b5ab;
  color: #3f1622;
}

.header-content {
  max-width: 60em;
  background-color: #c9b5ab;
  margin: 0 auto;
  padding: 1em;
}

h1 {
  font-family: 'PT Sans', sans-serif;
  color: #3f1622;
  font-size: 1em;
}

main {
  font-family: 'PT Serif', serif;
  background-size: cover;
  background-position: top;
  background-color: #c9b5ab;
  color: #222
  line-height: 1.5;
}

.quote {
  font-family: 'PT Serif', serif;
  font-size: 2em;
  font-style: italic;
  margin-top: 1.4em 1.4em 1.4em 1.4em;
}

main a {
  text-decoration: none;
}

.first-line {
  font-family: 'PT Serif', serif;
  font-weight: bold;
  font-size: 1.5em;
}

.main-wrapper {
  max-width: 60em;
  background-color: #c9b5ab;
  margin: 0 auto;
  padding: 1em;
}
h2 {
  font-family: 'PT Sans', sans-serif;
  color: #3f1622;
}

aside {
  font-family: 'PT Serif', serif;
}

.aside-content {
  max-width: 60em;
  background-color: #c9b5ab;
  margin: 0 auto;
  padding: 1em;
}

footer {
  font-family: 'PT Serif', serif;
}

.footer-content {
  max-width: 60em;
  background-color: #c9b5ab;
  margin: 0 auto;
  padding: 1em;
}
